.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  color: #fff;
  background-color: rgb(142, 160, 251);
}

.form {
  display: flex;
  align-items: center;
  width: 350px;
  background-color: #fff;
  overflow: hidden;
  height: 40px;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 13px;
  border: none;
  padding: 8px;
  outline: none;
  &::placeholder {
    font-size: 15px;
  }
}
.button {
  display: inline-block;
  background-color: #fff;
  outline: none;
}
.button:hover {
  background-color: #fff;
  outline: none;
}

.button svg {
  width: 25px;
  height: 25px;
}
