.modal {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.icon {
  color: aliceblue;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.btn {
  border: none;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}
